<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>JSRunner</title>
</head>

<body>

    <div class="jsrunner">
        <button class="exc">
            <span class="underline">e</span>xec
        </button>
        <button class="clr">
            clear
        </button>
        <div class="src"></div>
        <iframe class="ifm" src="devtools.html"></iframe>
    </div>

    <div class="jsrunner">
        <button class="exc">
            <span class="underline">e</span>xec
        </button>
        <button class="clr">
            clear
        </button>
        <div class="src"></div>
        <iframe class="ifm" src="devtools.html"></iframe>
    </div>

    <link rel="stylesheet" type="text/css" href="jsrunner.css">
    <script type="text/javascript" src="../ace-builds/src-min-noconflict/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="jsrunner.js"></script>

</body>

</html>
